/* Fuente y estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Sour Gummy', serif;
    text-align: center;
    background: linear-gradient(to right, #9aadff, #102892);
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #dfdfdf;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.3rem;
    color: #dfdfdf;
    margin-bottom: 30px;
}

h3 {
    font-size: 1rem;
    color: #dfdfdf;
    margin-bottom: 30px;
}
/* Estilo del botón */
.my-btn {
    background: #6381d3;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.my-btn:hover {
    background: #6563d3;
    transform: scale(1.05);
}

/* Estilo de la frase generada */
p {
    font-size: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

